.idea
node_modules

heeman/contents/AK_0721/
heeman/hw_quiz
heeman/lx/eclipse-workspace/
heeman/lx/eclipse/
heeman/lx/apache-tomcat-9.0.107/
heeman/projects
jstl-1.2.jar
mysql-connector-j-8.4.0.jar
moment.js

jaegon/JAVA/hw_solve
jaegon/JAVA/my_code/
jaegon/JAVA/studentCodeTesk9/

