<!DOCTYPE html>
<head>
    <meta charset="UTF-8">

    <title>고객관리</title>
</head>
<body>
<h1>고객관리 페이지 입니다.</h1>
<div>
    <form action="/menu">
        <button name="lastSelectScreen" value="customer">돌아가기</button>
    </form>
</div>



</body>
</html>